.btn {
    width: 65%;
}
.h6 {
    color: #9C9797;
}
.card-text, .main_text {
    text-align: justify;
}
.main_text {
    font-size: large;
}
.logo_light {
    position: absolute;
    top: 30px;
    right: 60px;
}