p {
    text-align: justify;
}
.card {
    border: 1px solid #9C9797;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: #9C9797 0px 2px 3px;
}
a {
    color: #9C9797;
    text-decoration: none;
}
a:hover {
    color: #4d5760;
    text-decoration: underline !important;
}
.card-header {
    background-color: transparent;
    border-bottom: 1px solid #9C9797;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 5px;
}