form { 
	border: 1px solid #9C9797;  
	border-radius: 8px; 
	padding: 12px;}

.login_btn { 
	width: 100%; 
	font-weight: bold; 
	text-transform: uppercase;
	padding: 12px; 
	background: #1E2613;
	color: #fff;
}
.form-control {
	background-color: var(--bg);
	border: 1px solid #9C9797; 
}
.ca {
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	color: #000;
}
.form-check-input {
	height: 30px;
	width: 30px;
	border: 1px solid #9C9797;
	background-color: var(--bg);	
}
form span {
	color:#9C9797; 
}
.form-check-input:checked{
    background-color: black;
    border-color: black;
}
